<div class='row'>
  <div class='span6 offset2' style="margin-top: 50px;">
    <h1>Learn to LTI</h1>
    <p><img src="/logo.png" style="float: left; padding-right: 5px; width: 36px;"/> 
    This is an LTI tool that can help you do just that. It will gradually
    build up your knowledge of the LTIs using a series of cutting-edge
    form elements and HTTP verbs. You should stick this in your learning
    platform and get all kinds of smart.</p>
    <p>If you want to add this app to your course you'll need to 
    <a href="/login" class="btn btn-primary">login using your Twitters</a>
    to get a key and shared secret to use in your course.
    <a href="/config.xml">Copy this XML link</a> and pick "By URL" as 
    the configuration type to quickly set it up!
    </p>
    <p>
    Learn to LTI is <a href="https://github.com/whitmer/learn-lti">open source</a>
    and free. Run it yourself if you
    like. If you don't like it, patches are welcome.
    </p>
  </div>
</div>
