<div class='row'>
  <div class='span6 offset2' style="margin-top: 50px;">
    <h1>Learn to LTI</h1>
    <p><img src="/logo.png" style="width: 100px; float: left; padding-right: 20px;"/> This is an LTI tool that can help you do just that. You'll need
    to contact the site owner about getting a key and secret to make
    this all work, but then you can stick this in your learning
    platform and get all kinds of smart.</p>
    <p>
    <a href="/config.xml">LTI Configuration XML</a>
    </p>
  </div>
</div>
